<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Modifier mon mot de passe</title>
</head>
<body class="bg-light">
<div layout:fragment="content">
    <div class="card mt-3">
        <div class="card-body">
            <h2 class="card-title mb-3 text-center">Modifier mon mot de passe</h2>
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>
            <form th:action="@{/update-password}" method="post">
                <div class="mb-3">
                    <label for="currentPassword" class="form-label">Mot de passe actuel :</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword">
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label">Nouveau mot de passe :</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword">
                </div>
                <div class="mb-3">
                    <label for="confirm" class="form-label">Confirmer le nouveau mot de passe :</label>
                    <input type="password" class="form-control" id="confirm" name="confirm">
                </div>
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
</div>

</body>
</html>