<!DOCTYPE html>
<html lang="fr" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Modifier mes informations</title>
</head>
<body class="bg-light">
<div layout:fragment="content">
    <div class="container mt-5">
        <h2 class="mb-4">Ajouter une image</h2>
        <div th:if="${error}" class="alert alert-danger">
            <p th:text="${error}"></p>
        </div>
        <div th:if="${success}" class="alert alert-success">
            <p th:text="${success}"></p>
        </div>
        <div class="mt-5">
            <form th:action="@{/add-tag}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="newTag" class="form-label">Ajoutez un nouveau tag :</label>
                    <input type="text" class="form-control" id="newTag" name="newTag" placeholder="Nouveau tag">
                    <button type="submit" class="btn btn-outline-primary">Ajouter un Tag</button>
                </div>
            </form>
        </div>

        <form th:action="@{/upload}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label">Choisissez un tag existant :</label>
                <select class="form-select" id="tag" name="tag">
                    <option value="" disabled selected>-- Sélectionnez un tag --</option>
                    <option th:each="tag : ${tagList}" th:value="${tag}" th:text="${tag}"></option>
                </select>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Choisissez vos image :</label>
                <input type="file" class="form-control" id="image" name="files" accept="image/*" multiple>
            </div>

            <button type="submit" class="btn btn-primary">Ajouter</button>
        </form>

    </div>

</div>
</body>
</html>
